In [1]:
import pandas as pd 
df = pd.read_csv("../data/train.csv",parse_dates=['pickup_datetime'])
df.head()

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435

In [2]:
print("shape:",df.shape)
print(df.info())
print(df.describe())

shape: (1458644, 11)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1458644 entries, 0 to 1458643
Data columns (total 11 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   id                  1458644 non-null  object
 1   vendor_id           1458644 non-null  int64
 2   pickup_datetime     1458644 non-null  datetime64[ns]
 3   dropoff_datetime    1458644 non-null  object
 4   passenger_count     1458644 non-null  int64
 5   pickup_longitude    1458644 non-null  float64
 6   pickup_latitude     1458644 non-null  float64
 7   dropoff_longitude   1458644 non-null  float64
 8   dropoff_latitude    1458644 non-null  float64
 9   store_and_fwd_flag  1458644 non-null  object
 10  trip_duration       1458644 non-null  int64
dtypes: datetime64[ns](1), float64(4), int64(3), object(3)
memory usage: 122.4+ MB
None
          vendor_id                pickup_datetime  passenger_count  \
count  1.458644e+06                        1458644     1.458644e+06
mean   1.534950e+00  2016-04-01 10:10:24.940037120     1.664530e+00
min    1.000000e+00            2016-01-01 00:00:17     0.000000e+00
25%    1.000000e+00  2016-02-17 16:46:04.249999872     1.000000e+00
50%    2.000000e+00            2016-04-01 17:19:40     1.000000e+00
75%    2.000000e+00  2016-05-15 03:56:08.750000128     2.000000e+00
max    2.000000e+00            2016-06-30 23:59:39     9.000000e+00
std    4.987772e-01                            NaN     1.314242e+00

       pickup_longitude  pickup_latitude  dropoff_longitude  dropoff_latitude  \
count      1.458644e+06     1.458644e+06       1.458644e+06      1.458644e+06
mean      -7.397349e+01     4.075092e+01      -7.397342e+01      4.075180e+01
min       -1.219333e+02     3.435970e+01      -1.219333e+02      3.218114e+01
25%       -7.399187e+01     4.073735e+01      -7.399133e+01      4.073588e+01
50%       -7.398174e+01     4.075410e+01      -7.397975e+01      4.075452e+01
75%       -7.396733e+01     4.076836e+01      -7.396301e+01      4.076981e+01
max       -6.133553e+01     5.188108e+01      -6.133553e+01      4.392103e+01
std        7.090186e-02     3.288119e-02       7.064327e-02      3.589056e-02

       trip_duration
count   1.458644e+06
mean    9.594923e+02
min     1.000000e+00
25%     3.970000e+02
50%     6.620000e+02
75%     1.075000e+03
max     3.526282e+06
std     5.237432e+03

In [3]:
print(df.isnull().sum())

id                    0
vendor_id             0
pickup_datetime       0
dropoff_datetime      0
passenger_count       0
pickup_longitude      0
pickup_latitude       0
dropoff_longitude     0
dropoff_latitude      0
store_and_fwd_flag    0
trip_duration         0
dtype: int64

In [4]:
df = df.dropna()

In [5]:
df['hour']=df['pickup_datetime'].dt.hour
df['day_of_week']=df['pickup_datetime'].dt.dayofweek #monday=0
df['date']=df['pickup_datetime'].dt.date

In [6]:
demand = df.groupby(['date','hour']).size().reset_index(name='ride_count')
demand.head()

         date  hour  ride_count
0  2016-01-01     0         546
1  2016-01-01     1         566
2  2016-01-01     2         503
3  2016-01-01     3         479
4  2016-01-01     4         323

In [7]:
print(demand.head())

         date  hour  ride_count
0  2016-01-01     0         546
1  2016-01-01     1         566
2  2016-01-01     2         503
3  2016-01-01     3         479
4  2016-01-01     4         323

%matplotlib inline
import matplotlib.pyplot as plt

# Average rides by hour
avg_hourly = demand.groupby('hour')['ride_count'].mean()
plt.figure(figsize=(10,5))
plt.bar(avg_hourly.index, avg_hourly.values)
plt.title("Average Taxi Demand by Hour of Day")
plt.xlabel("Hour of the Day")
plt.ylabel("Average Rides")
plt.show()

# Average rides by day of week
avg_weekday = demand.groupby('day_of_week')['ride_count'].mean()
plt.figure(figsize=(8,5))
plt.bar(avg_weekday.index, avg_weekday.values)
plt.title("Average Taxi Demand by Day of Week")
plt.xlabel("Day of Week (0=Mon, 6=Sun)")
plt.ylabel("Average Rides")
plt.show()

In [12]:
print(demand.columns)

Index(['date', 'hour', 'ride_count'], dtype='object')

In [13]:
print(demand.dtypes)

date          object
hour           int32
ride_count     int64
dtype: object